

<div *ngIf="customerReviewView && !editMode">
<md-card>
  <h4>View CustomerReview</h4>
  
<a   *ngIf="!embedded" class="btn btn-default" title="View" href="/customer/{{customerReview.customer.id}}">{{customerReview.customer.displayName}}</a>
	
	

	
		{{customerReview.review}}	
	

	
		{{customerReview.rating}}	
	
   
  
  <button (click)="goBack()" >Back</button> <button (click)="enableEdit()" >Edit</button>
</md-card>
</div>

<div *ngIf="editMode">
	<customerReview-edit [customerReview] = "customerReview" ></customerReview-edit>
</div>

