
<h4 *ngIf="!embedded">CustomerReviews</h4>

<button *ngIf="!embedded" md-raised-button color="primary" [routerLink]="['/CustomerReviewDetail',{'id':0}]">Create New</button>
{{errorMessage}}

<ul>
  <li *ngFor="let customerReview of customerReviews">
   
<a   *ngIf="!embedded" class="btn btn-default" title="View" href="/customer/{{customerReview.customer.id}}">{{customerReview.customer.displayName}}</a>
	
	

	
		{{customerReview.review}}	
	

	
		{{customerReview.rating}}	
	
  <a [routerLink]="['/CustomerReviewDetail',{'id':customerReview.id}]">
    <span class="badge">{{customerReview.id}}</span> 
  </a>
  <button *ngIf="!embedded" (click)="delete(customerReview)">Delete</button>
  <div  *ngIf="embedded">
   
  </div>
  </li>
</ul>
