
 
<div *ngIf="customerReview">
  <h2>CustomerReview details!</h2>
  <md-card>

    <form (ngSubmit)="save()" autocomplete="off"  #theForm="ngForm">
    	
 
 

	 <label for="customerId">Customer</label>

    
    <select class="form-control" required  [ngModel]="customerReview?.id" (ngModelChange)="onCustomerChanged($event,i)">
       <option>Please Select </option>
       <option *ngFor="let p of customers" [value]="p.id" >{{p.displayName}}</option>
    </select>

 
 
	
 
 

	 <label for="review">Review</label>

 
		
	
		<textarea  id="review" name="review" [(ngModel)]="customerReview.review" />
 	

 
 
	
 
 

	 <label for="rating">Rating</label>

 
		
	
 		 <md-input type="text"  required [(ngModel)]="customerReview.rating" ngControl="rating"  #name="ngForm" />
	

 
 
	


      	
	<button type="submit" class="btn btn-default" [disabled]="!theForm.form.valid">Submit</button>

    </form>
  </md-card>

</div>
