
<h4 *ngIf="!embedded">Employee List</h4>

<button  md-raised-button color="primary" [routerLink]="['/EmployeeDetail',{'id':0}]">New Employee</button>
{{errorMessage}}

<ul>
  <li *ngFor="let employee of employeeList">
   
	
		{{employee.firstName}}	
	

	
		{{employee.lastName}}	
	

	
		{{employee.active}}	
	
  <button [routerLink]="['/EmployeeDetail',{'id':employee.id}]">Edit {{employee.id}}</button>
  <button *ngIf="!embedded" (click)="delete(employee)">Delete</button>
  <div  *ngIf="embedded">
   
  </div>
  </li>
</ul>
