
<h4 *ngIf="!embedded">Employees</h4>

<button *ngIf="!embedded" md-raised-button color="primary" [routerLink]="['/EmployeeDetail',{'id':0}]">Create New</button>
{{errorMessage}}

<ul>
  <li *ngFor="let employee of employees">
   
	
		{{employee.firstName}}	
	

	
		{{employee.lastName}}	
	

	
		{{employee.active}}	
	
  <a [routerLink]="['/EmployeeDetail',{'id':employee.id}]">
    <span class="badge">{{employee.id}}</span> 
  </a>
  <button *ngIf="!embedded" (click)="delete(employee)">Delete</button>
  <div  *ngIf="embedded">
   
  </div>
  </li>
</ul>
