
<h4 *ngIf="!embedded">Category List</h4>

<button *ngIf="!embedded" md-raised-button color="primary" [routerLink]="['/CategoryDetail',{'id':0}]">New Category</button>
{{errorMessage}}

<ul>
  <li *ngFor="let category of categoryList">
   
	
		{{category.name}}	
	
  <button *ngIf="!embedded" [routerLink]="['/CategoryDetail',{'id':category.id }]">Edit </button>
  <button *ngIf="!embedded" [routerLink]="['/CategoryDetail',{'id':category.id}]">View </button>
  <button *ngIf="!embedded" (click)="delete(category)">Delete</button>
  <div  *ngIf="embedded">
   
  </div>
  </li>
</ul>
