

<div *ngIf="orderItemView && !editMode">
<md-card>
  <h4>View OrderItem</h4>
  
<a   *ngIf="!embedded" class="btn btn-default" title="View" href="/customerOrder/{{orderItem.customerOrder.id}}">{{orderItem.customerOrder.displayName}}</a>
	
	

	
		{{orderItem.qty}}	
	

<a   class="btn btn-default" title="View" href="/product/{{orderItem.product.id}}">{{orderItem.product.displayName}}</a>
	
	
   
  
  <button (click)="goBack()" >Back</button> <button (click)="enableEdit()" >Edit</button>
</md-card>
</div>

<div *ngIf="editMode">
	<orderItem-edit [orderItem] = "orderItem" ></orderItem-edit>
</div>

