
<h4 *ngIf="!embedded">OrderItem List</h4>

<button *ngIf="!embedded" md-raised-button color="primary" [routerLink]="['/OrderItemDetail',{'id':0}]">New OrderItem</button>
{{errorMessage}}

<ul>
  <li *ngFor="let orderItem of orderItemList">
   
<a   *ngIf="!embedded" class="btn btn-default" title="View" href="/customerOrder/{{orderItem.customerOrder.id}}">{{orderItem.customerOrder.displayName}}</a>
	
	

	
		{{orderItem.qty}}	
	

<a   class="btn btn-default" title="View" href="/product/{{orderItem.product.id}}">{{orderItem.product.displayName}}</a>
	
	
  <button *ngIf="!embedded" [routerLink]="['/OrderItemDetail',{'id':orderItem.id  ,'parent':parent}]">Edit </button>
  <button *ngIf="!embedded" [routerLink]="['/OrderItemDetail',{'id':orderItem.id}]">View </button>
  <button *ngIf="!embedded" (click)="delete(orderItem)">Delete</button>
  <div  *ngIf="embedded">
   
  </div>
  </li>
</ul>
