
<h4 *ngIf="!embedded">Products</h4>

<button *ngIf="!embedded" md-raised-button color="primary" [routerLink]="['/ProductDetail',{'id':0}]">Create New</button>
{{errorMessage}}

<ul>
  <li *ngFor="let product of products">
   
	
		{{product.name}}	
	

	
		{{product.price}}	
	

	
		{{product.image}}	
	

	
		{{product.displayTill}}	
	
  <a [routerLink]="['/ProductDetail',{'id':product.id}]">
    <span class="badge">{{product.id}}</span> 
  </a>
  <button *ngIf="!embedded" (click)="delete(product)">Delete</button>
  <div  *ngIf="embedded">
   
  </div>
  </li>
</ul>
