
<h4 *ngIf="!embedded">Product List</h4>

<button  md-raised-button color="primary" [routerLink]="['/ProductDetail',{'id':0}]">New Product</button>
{{errorMessage}}

<ul>
  <li *ngFor="let product of productList">
   
	
		{{product.name}}	
	

	
		{{product.price}}	
	

	
		{{product.image}}	
	

	
		{{product.displayTill}}	
	
  <button [routerLink]="['/ProductDetail',{'id':product.id}]">Edit {{product.id}}</button>
  <button *ngIf="!embedded" (click)="delete(product)">Delete</button>
  <div  *ngIf="embedded">
   
  </div>
  </li>
</ul>
