
<h4 *ngIf="!embedded">Product List</h4>

<button *ngIf="!embedded" md-raised-button color="primary" [routerLink]="['/ProductDetail',{'id':0}]">New Product</button>
{{errorMessage}}

<ul>
  <li *ngFor="let product of productList">
   
	
		{{product.name}}	
	

	
		{{product.price}}	
	

	
		{{product.image}}	
	

	
		{{product.displayTill}}	
	
  <button *ngIf="!embedded" [routerLink]="['/ProductDetail',{'id':product.id }]">Edit </button>
  <button *ngIf="!embedded" [routerLink]="['/ProductDetail',{'id':product.id}]">View </button>
  <button *ngIf="!embedded" (click)="delete(product)">Delete</button>
  <div  *ngIf="embedded">
   
  </div>
  </li>
</ul>
