

<div *ngIf="customerOrderView && !editMode">
<md-card>
  <h4>View CustomerOrder</h4>
  
<a   *ngIf="!embedded" class="btn btn-default" title="View" href="/customer/{{customerOrder.customer.id}}">{{customerOrder.customer.displayName}}</a>
	
	

	
		{{customerOrder.notes}}	
	
  <h4>Order Items </h4>
   <button  md-raised-button color="accent" [routerLink]="['/OrderItemDetail',{'id':0, 'parent':customerOrderView.id}]">Add CustomerOrder</button>
   
  <orderItem-list [embedded]="true"  [parent]="customerOrderView.id" [orderItemList]="customerOrderView.orderItems"></orderItem-list>
   
  
  <button (click)="goBack()" >Back</button> <button (click)="enableEdit()" >Edit</button>
</md-card>
</div>

<div *ngIf="editMode">
	<customerOrder-edit [customerOrder] = "customerOrder" ></customerOrder-edit>
</div>

