
<h4 *ngIf="!embedded">CustomerOrders</h4>

<button *ngIf="!embedded" md-raised-button color="primary" [routerLink]="['/CustomerOrderDetail',{'id':0}]">Create New</button>
{{errorMessage}}

<ul>
  <li *ngFor="let customerOrder of customerOrders">
   
<a   *ngIf="!embedded" class="btn btn-default" title="View" href="/customer/{{customerOrder.customer.id}}">{{customerOrder.customer.displayName}}</a>
	
	

	
		{{customerOrder.notes}}	
	
  <a [routerLink]="['/CustomerOrderDetail',{'id':customerOrder.id}]">
    <span class="badge">{{customerOrder.id}}</span> 
  </a>
  <button *ngIf="!embedded" (click)="delete(customerOrder)">Delete</button>
  <div  *ngIf="embedded">
  <orderItem-list [embedded]="true" [orderItems]="customerOrder.orderItems"></orderItem-list>
   
  </div>
  </li>
</ul>
