
<h4 *ngIf="!embedded">CustomerOrder List</h4>

<button *ngIf="!embedded" md-raised-button color="primary" [routerLink]="['/CustomerOrderDetail',{'id':0}]">New CustomerOrder</button>
{{errorMessage}}

<ul>
  <li *ngFor="let customerOrder of customerOrderList">
   
<a   *ngIf="!embedded" class="btn btn-default" title="View" href="/customer/{{customerOrder.customer.id}}">{{customerOrder.customer.displayName}}</a>
	
	

	
		{{customerOrder.notes}}	
	
  <button *ngIf="!embedded" [routerLink]="['/CustomerOrderDetail',{'id':customerOrder.id  ,'parent':parent}]">Edit </button>
  <button *ngIf="!embedded" [routerLink]="['/CustomerOrderDetail',{'id':customerOrder.id}]">View </button>
  <button *ngIf="!embedded" (click)="delete(customerOrder)">Delete</button>
  <div  *ngIf="embedded">
  <orderItem-list [embedded]="true" [orderItemList]="customerOrder.orderItems"></orderItem-list>
   
  </div>
  </li>
</ul>
