

<div *ngIf="customerView && !editMode">
<md-card>
  <h4>View Customer</h4>
  
	
		{{customer.firstName}}	
	

	
		{{customer.lastName}}	
	
  <h4>Customer Order </h4>
   <button  md-raised-button color="accent" [routerLink]="['/CustomerOrderDetail',{'id':0, 'parent':customerView.id}]">Add Customer</button>
   
  <customerOrder-list [embedded]="true"  [parent]="customerView.id" [customerOrderList]="customerView.customerOrder"></customerOrder-list>
  <h4>Customer Review </h4>
   <button  md-raised-button color="accent" [routerLink]="['/CustomerReviewDetail',{'id':0, 'parent':customerView.id}]">Add Customer</button>
   
  <customerReview-list [embedded]="true"  [parent]="customerView.id" [customerReviewList]="customerView.customerReview"></customerReview-list>
   
  
  <button (click)="goBack()" >Back</button> <button (click)="enableEdit()" >Edit</button>
</md-card>
</div>

<div *ngIf="editMode">
	<customer-edit [customer] = "customer" ></customer-edit>
</div>

