
<h4 *ngIf="!embedded">Customer List</h4>

<button  md-raised-button color="primary" [routerLink]="['/CustomerDetail',{'id':0}]">New Customer</button>
{{errorMessage}}

<ul>
  <li *ngFor="let customer of customerList">
   
	
		{{customer.firstName}}	
	

	
		{{customer.lastName}}	
	
  <button [routerLink]="['/CustomerDetail',{'id':customer.id}]">Edit {{customer.id}}</button>
  <button *ngIf="!embedded" (click)="delete(customer)">Delete</button>
  <div  *ngIf="embedded">
  <customerOrder-list [embedded]="true" [customerOrderList]="customer.customerOrder"></customerOrder-list>
  <customerReview-list [embedded]="true" [customerReviewList]="customer.customerReview"></customerReview-list>
   
  </div>
  </li>
</ul>
