<div *ngIf="customer">
  <h2>{{customer.lastName}} details!</h2>
  <div>
    <label>id:={{customer.id}} </label>
  </div>
  <div>



    <form (ngSubmit)="save()" autocomplete="off"  #theForm="ngForm">
        <label>First Name: </label>
        <input type="text"  required [(ngModel)]="customer.firstName"
        ngControl="firstName"  #name="ngForm"  #spy >
        
        <label>Last Name: </label>
        <md-input type="text"  required
             [(ngModel)]="customer.lastName" >
        </md-input>

      <customer-order-detail></customer-order-detail>

    <button type="submit" class="btn btn-default" [disabled]="!theForm.form.valid">Submit</button>

    </form>
  </div>


</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
