<div *ngIf="customerView">
  <md-card>
    {{customerView.firstName}}
	
	<customerOrder-list  [customerOrders]="customerView.customerOrder"></customerOrder-list>
	<customerReview-list   [customerReviews]="customerView.customerReview"></customerReview-list>
	
  </md-card>
</div>
 
<div *ngIf="customer">
  <h2 *ngIf="!embedded" >Customer Details</h2>
  <md-card>
    <form (ngSubmit)="save()" autocomplete="off"  #theForm="ngForm">
    
 		 <md-input type="text" placeholder="First Name" [(ngModel)]="customer.firstName" ngControl="firstName"  #name="ngForm"></md-input>
	
 		 <md-input type="text" placeholder="Last Name" [(ngModel)]="customer.lastName" ngControl="lastName"  #name="ngForm"></md-input>

	<ul>
 
	<button (click)="addCustomerOrder()"  type="button">Add Customer Order</button>
 
	<li *ngFor=" let customerOrder of customer.customerOrder; let i = index">
		<customerOrder-detail  [embedded]="true" [customerOrder]="customerOrder"></customerOrder-detail>
		
		  
	<button (click)="addCustomerOrder()"  type="button">Add Customer Order</button>
		  
	<button (click)="removeCustomerOrder(i)" type="button">Remove</button>
		  
     </li>
	</ul>
	<ul>
 
	<button (click)="addCustomerReview()"  type="button">Add Customer Review</button>
 
	<li *ngFor=" let customerReview of customer.customerReview; let i = index">
		<customerReview-detail  [embedded]="true" [customerReview]="customerReview"></customerReview-detail>
		
		  
	<button (click)="addCustomerReview()"  type="button">Add Customer Review</button>
		  
	<button (click)="removeCustomerReview(i)" type="button">Remove</button>
		  
     </li>
	</ul>
      	
	<button type="submit" class="btn btn-default" [disabled]="!theForm.form.valid"  *ngIf="!embedded">Submit</button>

    </form>
  </md-card>
</div>
